<div>
    <h1> Hi <%= userName %>! </h1>
    <h4> or should I call you: <%= userScreenName %>?</h4>
    <h4> Let's see what you've been up to since you made your account in <%= userCreatedDate%></h4>
    <h4> I see your located in: <%= userLocation%></h4>
    <h4> I can see you describe yourself as: <%= userDescription%></h4>
    <h4> I can't believe you follow <%= userFollowingCount%> people and only have <%= userFollowerCount%> followers! Ratio'd! </h4>
    <h4> What makes it worse is that you've tweeted <%= userTweetCount%> times!!! </h4>
</div>